:root {
}

.option-container {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.76);
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.title-main {
    -unity-font-definition: url("project://database/Assets/_Project/Font/novem___.ttf?fileID=12800000&guid=5959b81331a03b048aa33fbb46d88234&type=3#novem___");
    font-size: 50px;
}

.font-main {
    -unity-font-definition: url("project://database/Assets/_Project/Font/novem___.ttf?fileID=12800000&guid=5959b81331a03b048aa33fbb46d88234&type=3#novem___");
    font-size: 25px;
}

.button-style {
    -unity-background-image-tint-color: rgba(12, 12, 12, 0);
    background-color: rgb(55, 51, 47);
    color: rgb(255, 255, 255);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}
